[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
